@use '../../../styles/global' as *;

.Trailers {
    h4 {
        text-align: center;
        font-weight: 500;
        line-height: 2;
        margin-top: 12px;
        font-size: 2rem;
    }

    iframe {
        width: 80vw;
        height: calc(80vw * (9 / 16));

       @media (orientation: landscape) {
            width: 50vw;
            height: calc(50vw * (9 / 16));
        }
    }

    li {
        @include flex(column, space-between, center);
        border-bottom: solid $greyBorder 1px;
        padding: 8px 2px;
        text-align: left;
        font-size: 1.4rem;
    }
}