@use './global' as *;

@mixin button($bgCol: transparent, $bgColHover: transparent, $col: white) {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: $col;
    background-color: $bgCol;
    line-height: 1;
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;

    transition:
        background-color 0.2s linear,
        transform 0.2s linear;

    font: {
        size: 1.6rem;
        family: 'Roboto';
        weight: 600;
    }

    &:hover {
        background-color: $bgColHover;
    }

    &:active {
        transform: scale(0.99);
        background-color: $bgColHover;
    }
}

@mixin mainStyle {
    padding: 1.2rem;
    width: 100%;
    display: block;
    width: 100%;
}

// Main Buttons ===================

.btn1 {
    @include button($netpixRed, $hoverRed);
    @include mainStyle;
}

.btn2 {
    @include button(black, rgb(76, 76, 76));
    @include mainStyle;
}

.textBtn {
    @include button(transparent, transparent, white);
    margin: 0 8px;

    &:hover {
        text-decoration: underline;
    }
}

.transparentBtn {
    @include button(transparent, rgb(226, 226, 226), black);
    @include mainStyle;
    border: solid 2px white;
}

// Membership =====================

.deleteBtn {
    @include button(white, rgb(226, 226, 226), rgb(235, 57, 66));
    @include mainStyle;
    border: solid 2px rgb(235, 57, 66);
}

// Modals =========================

.iconBtn {
    @include button(transparent, rgba(255, 255, 255, 0.4));
    border: solid 1px white;
    border-radius: 50%;
    padding: 4%;
    margin-top: 0;
    width: 30px;
    height: 30px;

    @media (min-height: 500px) {
        padding: 1.2rem;
        margin: 1.2rem 0;
    }
}

.primeBtn {
    @include button(rgb(0, 114, 249), rgb(1, 90, 199));
    @include mainStyle;
}

// Banner =========================

.whtBtn {
    @include button(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), black);
    @include mainStyle;

    font: {
        size: clamp(12px, 2vw, 18px);
    }

    padding: 0.25em 0.5em;
    margin: 0.8rem 0.8rem 0.8rem 0;
}

.opaqueBtn {
    @include button(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
    @include mainStyle;

    font: {
        size: clamp(12px, 2vw, 18px);
    }

    padding: 0.25em 0.5em;
    margin: 0.8rem 0.8rem 0.8rem 0;
}

// Searcbar =======================

.searchBtn {
    @extend .whtBtn;
    padding: 0.4rem 0.8rem;
    margin: 0 4px;
    font-size: 1.2rem;
}

.clearSearchBtn {
    @extend .iconBtn;
    padding: 1.2rem;
    margin: 0;
    border: none;
}

// Not Found ======================

.homeLinkBtn {
    @extend .whtBtn;
    padding: 0.8rem 2rem;
}