@use './global' as *;

.btn1 {
    cursor: pointer;
    background-color: $netpixRed;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 1.2rem;
    margin-top: 0.6em;
    width: 100%;


    transition:
        background-color 0.2s linear,
        transform 0.2s linear;

    font: {
        size: 16px;
        family: Roboto;
        weight: 600;
    }

    @media (min-height: 500px) {
        padding: 1.2rem;
        margin: 1.2rem 0;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: $hoverRed;
        }
    }

    &:active {
        transform: scale(0.99);
        background-color: $hoverRed;
    }
}

.btn2 {
    @extend .btn1;
    background-color: black;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: rgb(76, 76, 76);
        }
    }

    &:active {
        transform: scale(0.99);
        background-color: rgb(76, 76, 76);
    }

}

.textBtn {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;

    transition: transform 0.2s linear;

    font: {
        size: 1.6rem;
        weight: 600;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            text-decoration: underline;
        }
    }

    &:active {
        transform: scale(0.98);
    }
}

.cancelBtn {
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 1.2rem;
    width: 100%;
    border: none;
    background-color: transparent;

    font: {
        size: 16px;
        family: Roboto;
        weight: 600;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: rgb(226, 226, 226);
        }
    }

    &:active {
        transform: scale(0.99);
        background-color: rgb(226, 226, 226);
    }

}

.deleteBtn {
    @extend .btn1;
    background-color: white;
    color: rgb(235, 57, 66);
    border: solid 2px rgb(235, 57, 66);

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: rgb(226, 226, 226);
        }
    }

    &:active {
        transform: scale(0.99);
        background-color: rgb(226, 226, 226);
    }

}

.iconBtn {
    @extend .btn1;
    background-color: transparent;

    border: solid 1px white;
    border-radius: 50%;
    padding: 4%;
    margin-top: 0;
    width: 30px;
    height: 30px;

    transition:
        background-color 0.2s linear,
        transform 0.2s linear;

    @media (min-height: 500px) {
        padding: 1.2rem;
        margin: 1.2rem 0;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }
    }

    &:active {
        transform: scale(0.9);
        background-color: rgba(255, 255, 255, 0.4);
    }
}

.primeBtn {
    @extend .btn1;

    background-color: rgb(0, 114, 249);
    color: white;
    border: none;
    border-radius: 4px;
    //padding: 1.2rem;
    //margin: 0.6em;
    width: 100%;


    transition:
        background-color 0.2s linear,
        transform 0.2s linear;

    font: {
        size: 16px;
        family: Roboto;
        weight: 600;
    }

    @media (min-height: 500px) {
        padding: 1.2rem;
        margin: 1.2rem 0;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: rgb(1, 90, 199);
        }
    }

    &:active {
        transform: scale(0.99);
        background-color: rgb(1, 90, 199);
    }
}