@use './global' as *;

@mixin button($bgCol: $netpixRed, $bgColHover: $hoverRed, $col: white) {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: $col;
    background-color: $bgCol;
    line-height: 1;
    //padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;

    transition:
        background-color 0.2s linear,
        transform 0.2s linear;

    // include mainStyle mixin:
    padding: 0.75em;
    width: 100%;
    display: block;

    font: {
        size: 1.6rem;
        family: 'Roboto';
        weight: 600;
    }

    &:hover {
        background-color: $bgColHover;
    }

    &:active {
        transform: scale(0.99);
        background-color: $bgColHover;
    }
}

/*
@mixin mainStyle {
    padding: 0.75em;
    width: 100%;
    display: block;
}
*/
// Auth Buttons ===================

.redBtn {
    @include button;
   // @include mainStyle;
}

// Account Buttons =====

.blackBtn {
    @include button(black, rgb(76, 76, 76));
    //@include mainStyle;
}

.transparentBtn {
    @include button(transparent, rgb(226, 226, 226), black);
   // @include mainStyle;
    border: solid 2px white;
}

// General =====

.textBtn {
    @include button(transparent, transparent, white);

    &:hover {
        text-decoration: underline;
    }
}

// Searchbar ====
.clearSearchBtn {
    @include button(transparent, rgba(255, 255, 255, 0.4));

    border-radius: 50%;
    padding: 1.2rem;
    margin: 0;
    border: none;
    width: 30px;
    margin: 0 4px;
    height: 30px;
}

.searchBtn {
    @include button(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), black);
   // @include mainStyle;
    padding: 0.4rem 0.8rem;
    margin: 0 4px;
    font-size: 1.2rem;
}



// Not Found =====

.whiteBtn {
    @include button(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), black);
    //@include mainStyle;

    font: {
        size: clamp(12px, 2vw, 18px);
    }

    width: auto;
    display: inline-block;
}

// modals
.iconBtn {
    @include button(transparent, rgba(255, 255, 255, 0.4));
    border: solid 1px white;
    border-radius: 50%;
    padding: 4%;
    margin-top: 0;
    width: 30px;
    height: 30px;

    @media (min-height: 500px) {
        padding: 1.2rem;
        margin: 1.2rem 0;
    }
}

.primeBtn {
    @include button(rgb(0, 114, 249), rgb(1, 90, 199));
}