@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$netpixRed: rgb(229, 9, 20);
$hoverRed: rgb(193, 17, 25);

$greytext: rgb(116, 114, 116);

@mixin flex($dir: column, $jus: space-around, $align: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jus;
    align-items: $align;
}