@use '../../../styles/global' as *;
@use '../../../styles/buttons';

.title {
    text-align: left;
    margin-left: 3vw;

    font: {
        weight: 500;
        size: clamp(12px, 3vw, 24px);
    }
}

.moviesWrapper {
    @include flex(row, flex-start, center);
    position: relative;
    width: 94vw;
    margin: 0 auto 2rem;

    .searchContainer {
        position: relative;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;

        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        z-index: 1;

        & ul {
            @include flex(row, space-around, center);

            position: relative;
            width: auto;
            gap: 1%;
            z-index: 2;

            & li {
                position: relative;
                flex: 0 0 24.5%;
                min-width: 24.25%;
                max-width: 24.25%;
                cursor: pointer;
                border-radius: 8px;
                overflow: hidden;

                scroll-snap-align: start;

                @media (orientation: landscape) {
                    flex: 0 0 19.2%;
                    min-width: 19.2%;
                    max-width: 19.2%;

                }

                @media (orientation: landscape) and (min-width: 800px) {
                    flex: 0 0 16.5%;
                    min-width: 16.5%;
                    max-width: 16.5%;
                }

                & img {
                    width: 100%;
                    height: auto;
                    display: block;
                    object-fit: cover;

                    border-radius: 8px;
                    z-index: 3;
                    transition: transform 0.1s linear;

                    @media (hover: hover) and (pointer: fine) {
                        &:hover {
                            transform: scale(1.1);
                        }
                    }


                    &:active {
                        transform: scale(0.9);

                    }
                }
            }
        }
    }
}