@use '../../../styles/global' as *;
@use '../../../styles/buttons';

.authForm {
    width: 100%;
    padding: 0 1.6rem;
    margin: 0;

    @media (min-width: 500px) and (min-height: 400px) {
        padding: 4rem 6rem;
    }

    & h2 {
        padding: 4px 0;
        line-height: 1;

        font: {
            size: 3.2rem;
            weight: 700;
        }

        @media (min-width: 500px) and (min-height: 500px) {
            padding: 0 0 1.2rem 0;
        }
    }

    .signInError {
        font-size: 1.4rem;
        color: black;
        background-color: rgb(216, 157, 49);
        text-align: center;
        border-radius: 4px;
        padding: 1rem 0;
    }

    & form {
        @include flex(column, flex-start);
        width: 100%;

        font: {
            size: 1.6rem;
            family: 'Roboto';
        }

        & input {
            background-color: rgb(15, 15, 15);
            color: white;
            border: solid 1px rgb(94, 94, 94);
            border-radius: 4px;
            padding: 1.2rem;
            margin: 1.2rem 0;
            width: 100%;

            @media (max-height: 500px) {
                margin: 2px 0;
            }
        }

        .inputError {
            font-size: 1.2rem;
            color: rgb(235, 57, 66);
        }
    }

    & p {
        margin: 0;
        padding: 0.6rem 0;

        @media (min-height: 500px) {
            padding: 1.2rem 0 2rem 0;
            margin-top: 1.2rem;
        }
    }
}