@use '../../../styles/global' as *;
@use '../../../styles/buttons' as *;
@use '../AccOverview.module.scss' as *;

.accChildren {
    @extend .AccOverview;
}

.Security {
    @extend .container;
}

.UpdateDetails {
    @extend .container;

    & form {
        @include flex(column, flex-start, center);
        width: 100%;
        gap: 4px;

        & input {
            border: solid 1px rgb(94, 94, 94);
            border-radius: 4px;
            padding: 1.2rem;
            margin: 1.2rem 0;
            width: 100%;
            font-family: 'Roboto';

            @media (max-height: 500px) {
                margin: 2px 0;
            }
        }
    }

    .submitErr {
        font-size: 1.4rem;
        color: rgb(179, 0, 9);
        width: 100%;
        text-align: center;
        border-radius: 4px;
        border: solid 2px rgb(179, 0, 9);
        padding: 1rem;
    }

    .newPasswords {
        width: 100%;
        margin-top: 2em;
    }
}

.Membership {
    @extend .container;

    .deleteAcc {
        @include button(white, rgb(226, 226, 226), rgb(235, 57, 66));
        @include mainStyle;
        border: solid 2px rgb(235, 57, 66);
        margin-bottom: 0.8rem;
    }
}