@use '../../styles/global' as *;
@use '../../styles/buttons';

.txtModOverlayAcc,
.txtModOverlayHome {
    position: fixed;
    inset: 0;
    z-index: 1000;
}

.txtModOverlayAcc {
    background-color: rgba(255, 255, 255, 0.8);
}

.txtModOverlayHome {
    background-color: rgba(0, 0, 0, 0.8);
}

.accModal {
    color: black;
    background-color: white;
    border: solid 1px rgb(204, 204, 204);
    border-radius: 8px;
    box-shadow:
        1px 1px 4px rgb(215, 215, 215),
        -1px 1px 4px rgb(215, 215, 215),
        1px -1px 4px rgb(215, 215, 215),
        -1px -1px 4px rgb(215, 215, 215);

}

.HomeModal {
    color: white;
    background-color: rgb(24, 24, 24);
    ;
    border-radius: 8px;
}


.textModal {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    padding: 0.8rem 1.6rem;
    text-align: center;
    min-width: 200px;

    .btnsDiv {
        @include flex;
        gap: 4px;
    }

    & p {
        padding: 1.6rem 0;
    }
}

.modalOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal {
    pointer-events: auto;
    border-radius: 8px;
    width: fit-content;
    overflow-y: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    text-align: center;
    min-width: 200px;
    background-color: rgb(24, 24, 24);

    & iframe {
        width: 95vw;
        height: calc(95vw * (9 / 16));
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        @media (orientation: landscape) {
            width: 70vw;
            height: calc(70vw * (9 / 16));
        }
    }

    .btnContainer {
        @include flex(row, center, center);
        padding: 0 1em;

        & h3 {
            text-align: left;
            font-weight: 500;
            width: 50%;
        }


        .buttons {
            @include flex(row, space-around, center);
            width: 50%;
            padding-bottom: 4px;

            & button {
                position: relative;

                & img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 20px
                }

            }
        }
    }
}

.links {
    @include flex(row);

    & a {
        @include flex(row, center);
        gap: 12px;
        text-decoration: none;
        margin: 8px;

        & img {
            width: 20px;
        }
    }
}