@use './styles/global' as *;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  background-color: black;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $homeBgColor;
  color: white;
  text-align: center;
  line-height: 1.5;

  font: {
    family: 'Roboto';
    size: 1.6rem;
  }
}

body.account {
  background-color: $accBgCol;
  color: black;
}


body:not(.account) ::-webkit-scrollbar {
  width: 8px;
}

body:not(.account) ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 15px;
}

body:not(.account) ::-webkit-scrollbar-thumb {
  background: rgba(102, 102, 102, 0.6);
  border-radius: 15px;
}

body:not(.account) ::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: rgba(102, 102, 102, 0.8);
}

:focus {
  outline: none;
}

body:not(.account) :focus-visible {
  outline: 2px solid white;
  outline-offset: 2px;
}

body.account :focus-visible {
  outline: 2px solid black;
  outline-offset: 2px;
}