@use '../../styles/global' as *;
@use '../../styles/buttons';

.homeNav {
    position: relative;
    height: 100%;
    padding: 4px 3vw;
    @include flex(row, space-between, center);

    @media (min-height: 400px) and (min-width: 550px) {
        padding: 1vmin 3vw;
    }
}

.accNav,
.homeNav {
    position: relative;
    height: 100%;
    padding: 4px 16px;
    @include flex(row, space-between, center);

    @media (min-height: 400px) and (min-width: 550px) {
        padding: 1vmin 6vmax;
    }

    .accH1,
    .homeH1 {
        color: $netpixRed;
        line-height: 1;
        display: inline-block;
        text-decoration: none;
        transform: translateY(2px);

        font: {
            family: 'Bebas Neue';
            size: 2.4rem;
        }

        @media (min-height: 400px) and (min-width: 550px) {
            font-size: clamp(24px, 4vw, 40px);
        }
    }

    .accH1 {
        @media (min-height: 400px) and (min-width: 550px) {
            font-size: clamp(24px, 4vw, 40px);
        }

        @media (min-height: 400px) and (min-width: 960px) {
            padding-left: 1.4rem;
        }
    }

    .navBtns {
        @include flex(row, space-between);
        gap: 8px;
        overflow: hidden;

        & img {
            cursor: pointer;
            width: 24px;

            @media (min-height: 400px) and (min-width: 550px) {
                width: clamp(24px, 4vw, 35px);
            }
        }
    }
}