@use '../../../styles/global' as *;

.accountPage {
    height: 100%;

    @media (min-height: 400px) and (min-width: 960px) {
        display: grid;
        grid-template-areas: 'nav main';
        grid-template-columns: 1fr 2fr;
        padding-top: 1%;
    }

    @media (min-height: 400px) and (min-width: 1280px) {
        margin: 0 6.25%;
    }

    .accountNav {
        padding-left: 16px;
        border-bottom: solid 1px rgb(230, 230, 230);
        width: 100%;


        @media (min-height: 400px) and (min-width: 550px) {
            padding: 0 6vmax;
            border: none;
        }

        @media (min-height: 400px) and (min-width: 960px) {
            grid-area: nav;
        }

        .accountUl {
            @include flex(row, flex-start, center);

            @media (min-height: 400px) and (min-width: 960px) {
                @include flex(column, center, flex-start);
                gap: 1.6rem;
            }


            & li {
                margin-right: 1.6rem;

                @media (hover: hover) and (pointer: fine) and (min-height: 400px) and (min-width: 960px) {
                    border-radius: 4px;
                    width: 100%;
                    padding: 0.4rem;
                    padding-left: 1.4rem;

                    &:hover {
                        background-color: rgb(226, 226, 226);
                    }
                }

                & img {
                    width: 28px;
                }

                .activeLink,
                .inactiveLink {
                    display: block;
                    padding: 0.4rem 0;
                    color: black;
                    text-decoration: none;

                    @media (min-height: 400px) and (min-width: 960px) {
                        @include flex(row, flex-start, center);
                        gap: 12px;
                    }
                }

                .activeLink {
                    border-bottom: solid 3px $netpixRed;
                    font-weight: 600;

                    @media (min-height: 400px) and (min-width: 960px) {
                        border: none;
                    }
                }

                .inactiveLink {
                    border-bottom: solid 3px rgb(250, 250, 250);

                    @media (hover: hover) and (pointer: fine) and (max-height: 399px) and (max-width: 959px) {
                        &:hover {
                            color: rgb(150, 150, 150);
                        }
                    }

                    @media (min-height: 400px) and (min-width: 960px) {
                        border: none;
                    }
                }
            }

            .toHome {
                display: none;

                @media (min-height: 400px) and (min-width: 960px) {
                    display: block;
                    margin-bottom: 4rem;
                }
            }
        }
    }

    .accountMain {
        text-align: left;
        padding: 1% 16px 0 16px;

        @media (min-height: 400px) and (min-width: 550px) {
            //margin-right: 6vmax;
            padding: 1% 6vmax 0 6vmax;
        }

        @media (min-height: 400px) and (min-width: 960px) {
            grid-area: main;
            padding: 0 6vmax 0 0;
        }

        & h2 {
            font: {
                size: 32px;
                weight: 800;
            }

            @media (min-height: 400px) and (min-width: 550px) {
                font-size: 40px;
            }
        }

        & h3 {
            color: rgb(51, 51, 51);

            @media (min-height: 400px) and (min-width: 550px) {
                font-size: 18px;
            }
        }

        .overviewContainer {
            background-color: white;
            border: solid 1px rgb(204, 204, 204);
            border-radius: 8px;
            padding: 1.6rem;
            margin: 1em 0 2em 0;

            & p {
                padding: 0.5em 0;
            }

            .username {
                font-weight: 600;
            }

            .memberSince {
                margin-left: -1.6rem;
                padding: 0.8rem 1.6rem;
                color: white;
                display: inline-block;
                background: linear-gradient(90deg, rgb(30, 38, 97), rgb(33, 113, 226));
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;

                font: {
                    size: 1.2rem;
                    weight: 700;
                }
            }

            .quickLink {
                @include flex(row, space-between, center);
                text-decoration: none;
                color: black;
                font-weight: 500;
                padding: 2rem 0;
                border-radius: 4px;

                @media (hover: hover) and (pointer: fine) {
                  
                    &:hover {
                        background-color: rgb(226, 226, 226);
                    }
                }

                & img {
                    width: 28px;
                }

                .quickLinkDiv {
                    @include flex(row, flex-start, center);
                    gap: 12px;
                }
            }
        }
    }
}